---
import Layout from '../../layouts/LayoutEn.astro';
---

<Layout title="Driving School AMIGO">
  </div>
  <main>
    <section class="contact-information">
      <h1>Contact information: </h1>
      <br>
      <p>Address: ul. Krakowskie Przedmieście 60 20-002 Lublin</p>
      <p>Open from: Monday-Friday 9:00-17:00</p>
      <p>Office phone number: 81 5349010</p>
      <p>Cellphone number: 502 219 262</p>
      <p>E-mail: </p>
      <p>Account number: 89 1020 4900 0000 8002 3170 2467</p>
    </section>
    <section class="google-maps">
      <div class="responsive"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39959.22731192316!2d22.521927079101573!3d51.24759200000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4722576885b66af9%3A0x8d3c4dda29d18bb9!2sSzko%C5%82a%20Jazdy%20Amigo%20O%C5%9Brodek%20Szkolenia%20Kierowc%C3%B3w%20Nauka%20Prawo%20Jazdy!5e0!3m2!1spl!2spl!4v1688754046168!5m2!1spl!2spl" width="700" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2495.2926195182563!2d22.578441999999992!3d51.2873389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472250a10ebd5741%3A0x24aef7ced7515ce5!2sEliz%C3%B3wka%2065%2C%2021-003%20Eliz%C3%B3wka!5e0!3m2!1spl!2spl!4v1688754095366!5m2!1spl!2spl" width="700" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
  </main>
  <form class="contact-form" action="https://formsubmit.co/example@example.com" method="POST">
    <fieldset>
      <legend>Contact us!</legend>
      <ul>
        <li>
          <label for="mail"></label>
          <span class="required">E-mail: </span>
          <input type="email" id="mail" name="E-mail" required/>
        </li>
        <li>
          <label for="name"></label>
          <span class="required">Full name: </span>
          <input type="text" id="name" name="Imię i nazwisko" required/>
        </li>
        <li>
          <label for="phone-num"></label>
          <span>Phone number: </span>
          <input type="tel" id="phone-num" name="Numer telefonu"/>
        </li>
        <li>
          <label for="message"></label>
          <span class="required">Your message: </span>
          <textarea id="message" name="Wiadomość" rows="10" cols="30" required ></textarea> 
        </li>
      </ul>
      <button type="submit">Send message</button>
      <p class="legal-disclaimer">By filling out this form you agree for your personal data to be collected and processed by OSK Amigo with offices in Lublin 
        in compliance with European Union's General Data Protection Regulation (GDPR) with the goal of providing you adequate service.
        The administrator of your data is Ośrodek Szkolenia Kierowców AMIGO with offices in Lublin, ul. Krakowskie Przedmieście 60, 20-002 Lublin</p>
    </fieldset>
  </form>
</Layout>

<style>
  * {
    margin: 0px;
    padding: 0px;
  }

  ul {
    list-style: none;
  }

  li {
    display: flex;
    flex-direction: column;
  }

  li + li {
    margin-top: 10px;
  }

  input {
    width: 100%;
  }

  .contact-form {
    margin: 10px auto 30px auto;
    background-color: var(--background-blue);
    border-radius: 30px;
    box-shadow: 0px 0px 15px var(--background-blue-dark);
    width: 90%;
    padding: 30px;
    color: var(--yellow-color);
    text-shadow: var(--yellow-text-shadow);
    font-size: clamp(1rem, 2.5vw, 2rem)
  }

  fieldset {
    display: flex;
    flex-direction: column;
    border: none;
  }

  .required::after {
    content: '*';
    color: red;
  }

  input,
  textarea {
    border: none;
    border: 2px solid var(--yellow-color);
    border-radius: 10px;
    padding: 2px;
  }

  input:active,
  input:focus,
  textarea:focus,
  textarea:target {
    border: 2px solid var(--yellow-color);
    outline: 1px solid var(--yellow-color);
  }

  button {
    color: var(--yellow-color);
    text-shadow: var(--yellow-text-shadow);
    margin: 20px 0px 0px 0px;
    width: 250px;
    border-radius: 30px;
    outline: none;
    background-color: rgb(153, 19, 19);
    border: none;
    padding: 10px;
    box-shadow: 1px 1px 5px rgb(114, 13, 13);
  }

  main {
    color: var(--yellow-color);
    text-shadow: var(--yellow-text-shadow);
    margin: 50px auto;
    width: 90%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-blue);
    border-radius: 30px;
    box-shadow: 0px 0px 15px var(--background-blue-dark);
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    gap: 50px;
  }

  h1 {
    font-size: clamp(1.5em, 2.5vw, 2em);
  }

  .contact-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8em;
  }

  .google-maps {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  iframe {
    max-width: 100%;
  }

  legend {
    margin-bottom: 20px;
  }

  .legal-disclaimer {
    font-size: 0.7rem;
    margin-top: 15px;
    text-align: center;
  }

  @media (max-width: 600px) {
    textarea {
      height: 40ch;
    }
    .contact-form {
      width: 100%;
      padding: 0px;
      margin-top: 30px;
    }
    button {
      margin: 20px auto 20px auto;
    }
    iframe {
      max-width: 320px;
    }
    main {
      flex-direction: column;
      margin: 0 auto;
      margin-top: 20px;
      padding: 0;
      width: 100%;
      gap: 10px;
      font-size: clamp(0.8rem, 1.5vw, 2rem);
    }
    .google-maps {
      margin-top: 40px;
    }
    .contact-information {
      margin: 8px 8px 0 8px;
      gap: 1em;
      align-items: center;
    }
    .legal-disclaimer {
      margin-bottom: 5px;
    }
    fieldset > legend {
      padding-top: 10px;
      text-align: center;
    }

  }
</style>