---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Ośrodek Szkolenia Kierowców AMIGO">
  <main>
    <h1>Cennik</h1>
    <section class="bonuses">
      <p>Możliwość płatności w ratach bez opłat bankowych!</p>
      <p>Przy jednorazowej opłacie z góry dodatkowo 1 godzina jazdy gratis!</p>
      <p>Każdy kurs prawa jazdy można rozpocząć 3 miesiące przed wymaganym Ustawą wiekiem!</p>
      <p>Egzamin państwowy można zdawać w ostatnim miesiącu przed Urodzinami<br>(odbiór prawa jazdy po urodzinach)</p>
      <p>Materiały dydaktyczne do każdego szkolenia!</p>
      <p>Zajęcia z ratownikiem medycznym!</p>
    </section>
    <table>
      <caption>
        Kategorie Prawa Jazdy
      </caption>
      <thead>
        <tr>
          <th scope="col">Kategoria</th>
          <th scope="col">Minimalny wiek</th>
          <th scope="col">Ilość godzin</th>
          <th scope="col">Cena za kurs</th>
          <th scope="col">1 godzina dodatkowa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">B</th>
          <td>18 lat</td>
          <td>30 praktyka + 30 teoria</td>
          <td>2800 zł</td>
          <td>90 zł</td>
        </tr>
        <tr>
          <th scope="row">B automat</th>
          <td>18 lat</td>
          <td>30 praktyka + 30 teoria</td>
          <td>2900 zł</td>
          <td>100 zł</td>
        </tr>
        <tr>
          <th scope="row">B manual po angielsku</th>
          <td>18 lat</td>
          <td>30 praktyka + 30 teoria</td>
          <td>3200 zł</td>
          <td>100 zł</td>
        </tr>
        <tr>
          <th scope="row">B automat po angielsku</th>
          <td>18 lat</td>
          <td>30 praktyka + 30 teoria</td>
          <td>3200 zł</td>
          <td>100 zł</td>
        </tr>
        <tr>
          <th scope="row">B1</th>
          <td>16 lat</td>
          <td>30 praktyka + 30 teoria</td>
          <td>2800 zł</td>
          <td>90 zł</td>
        </tr>
        <tr>
          <th scope="row">B po B1</th>
          <td>18 lat</td>
          <td>20 teoria</td>
          <td>1900 zł</td>
          <td>90 zł</td>
        </tr>
        <tr>
          <th scope="row">A</th>
          <td>24 lat</td>
          <td>30 praktyka + 20 teoria</td>
          <td>2900 zł</td>
          <td>120 zł</td>
        </tr>
        <tr>
          <th scope="row">A2</th>
          <td>18 lat</td>
          <td>30 praktyka + 20 teoria</td>
          <td>2700 zł</td>
          <td>110 zł</td>
        </tr>
        <tr>
          <th scope="row">A1</th>
          <td>16 lat</td>
          <td>30 praktyka + 20 teoria</td>
          <td>2400 zł</td>
          <td>90 zł</td>
        </tr>
        <tr>
          <th scope="row">AM</th>
          <td>14 lat</td>
          <td>30 praktyka + 10 teoria</td>
          <td>1300 zł</td>
          <td>90 zł</td>
        </tr>
        <tr>
          <th scope="row">A po A2</th>
          <td>20 lat</td>
          <td>10 teoria</td>
          <td>1400 zł</td>
          <td>120 zł</td>
        </tr>
        <tr>
          <th scope="row">A2 po A1</th>
          <td>18 lat</td>
          <td>10 teoria</td>
          <td>1300 zł</td>
          <td>110 zł</td>
        </tr>
        <tr>
          <th scope="row">B + E</th>
          <td>18 lat</td>
          <td>15 teoria</td>
          <td>1400 zł</td>
          <td>100 zł</td>
        </tr>
        <tr>
          <th scope="row">C</th>
          <td>21 lat</td>
          <td>20 praktyka + 30 teoria</td>
          <td>3200 zł</td>
          <td>100 zł</td>
        </tr>
        <tr>
          <th scope="row">CE</th>
          <td>21 lat</td>
          <td>25 teoria</td>
          <td>3200 zł</td>
          <td>120 zł</td>
        </tr>
        <tr>
          <th scope="row">C + CE</th>
          <td>21 lat</td>
          <td>30 praktyka + 25 teoria</td>
          <td>6200 zł</td>
          <td>110 zł</td>
        </tr>
        <tr>
          <th scope="row">C + CE. (kurs skrócony)</th>
          <td>21 lat</td>
          <td>20 praktyka + 25 teoria</td>
          <td>5400 zł</td>
          <td>110 zł</td>
        </tr>
        <tr>
          <th scope="row">C + CE + KWPC. (kurs skrócony)</th>
          <td>21 lat</td>
          <td>20 praktyka + 25 teoria</td>
          <td>7200 zł</td>
          <td>110 zł</td>
        </tr>
      </tbody>
    </table>
    <table>
      <caption>
        Szkolenia
      </caption>
      <thead>
        <tr>
          <th scope="col">Szkolenie</th>
          <th scope="col">Cena</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">KWPC (Kwalifikacja Wstępna Przyspieszona do kat. C)</th>
          <td>2500 zł</td>
        </tr>
        <tr>
          <th scope="row">KWPD (Kwalifikacja Wstępna Przyspieszona do kat. D)</th>
          <td>2500 zł</td>
        </tr>
        <tr>
          <th scope="row">KWU (Uzupełniająca) do obu kat</th>
          <td>800 zł</td>
        </tr>
        <tr>
          <th scope="row">KWC (pełna)</th>
          <td>3000 zł</td>
        </tr>
        <tr>
          <th scope="row">KWD (pełna)</th>
          <td>3000 zł</td>
        </tr>
        <tr>
          <th scope="row">SZOC (szkolenie okresowe do kat. C)</th>
          <td>700 zł</td>
        </tr>
        <tr>
          <th scope="row">ADR</th>
          <td>600 zł</td>
        </tr>
        <tr>
          <th scope="row">ADR + cysterny</th>
          <td>1000 zł</td>
        </tr>
      </tbody>
    </table>
  </main>
</Layout>

<style>
  h1,
  caption {
    text-shadow: none;
    color: var(--yellow-color);
    text-shadow: var(--yellow-text-shadow);
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--yellow-color);
    text-shadow: var(--yellow-text-shadow);
    margin: 0px 0px 50px 0px;
  }

  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--background-blue);
  }

  .bonuses {
    width: 100%;
    position:relative;
    background-color: var(--background-blue);
    text-align: center;
    font-size: clamp(0.7rem, 2.5vw, 1rem);
    padding: 5px 0px 5px 0px;
    margin-bottom: 20px;
  }

  .bonuses * {
    margin: 1em;
  }

  table {
    width: 80%;
    margin-left: 180%;
    opacity: 5%;
    background: var(--background-blue);
    font-size: clamp(0.75rem, 0.1875rem + 1.5vw, 1.5rem);
    text-align: center;
    box-shadow: 5px 5px 20px var(--background-blue-dark);  
    table-layout: fixed;
  }

  table + table {
    margin-top: 30px;
  }

  td {
    height: 60px;
  }


  caption {
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: 0.5em;
    color: var(--background-blue);
  }

  table, th, td {
    border: 1px solid var(--yellow-color);
    border-collapse: collapse;
  }

  tr:nth-child(odd) {
    background: #164fc0;
  }

  thead tr th{
    background: #3f5683;
  }

  th {
    width: 20%;
  }

  .fade-in {
    margin-left: 0%;
    transition: all 1s;
    opacity: 100%;
    transition-delay: 0.1s;
  }

  @media (max-width: 600px){
    table {
      width: 100%;
    }
  }
</style>

<script>
// Create the observer
var observer = new IntersectionObserver(entries => {
  entries.forEach(entry => {
      if (entry.isIntersecting) {
      // Add the CSS class that has your animation
      entry.target.classList.add('fade-in');
      return;
    }
  })
});

// Observe the element
var elements = document.querySelectorAll('table');
elements.forEach(element => observer.observe(element));

</script>