---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import 'astro-breadcrumbs/breadcrumbs.css';
import Nav from './../components/Nav.astro';
import Footer from './../components/Footer.astro';
import { Breadcrumbs } from "astro-breadcrumbs";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="./favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <Nav />
    <div class="breadcrumb-wrapper">
      <p>Aktualnie jesteś na: </p>
        <Breadcrumbs>
        <svg
        slot="separator"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="black"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </Breadcrumbs>
    </div>
		<slot />
    <Footer />
	</body>
</html>
<style is:global>
  @font-face {
    font-family: 'RobotoRegular';
    src: url('./fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  html, body {
    font-family: 'RobotoRegular', sans-serif;
    overflow-x:hidden;
  }

  body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }

  * {
    box-sizing: border-box;
  }
	 :root {
    --yellow-color: white;
    --background-blue-dark: #172a92;
    --background-blue: #172a92;
    --yellow-text-shadow: 1px 1px 1px black;
		--accent: 10, 60, 161;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #ffc537 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	} 
  .breadcrumb-wrapper {
    margin: 10px;
    display: flex;
    color: #172a92;
    text-shadow: (var(--yellow-text-shadow));
    gap: 5px;
    align-items: center;
  }
  .breadcrumb-wrapper p {
    position: relative;
    top: -1px;
  }

  @media (max-width: 600px) {
    .breadcrumb-wrapper {
      margin: 10px;
      display: flex;
      color: #172a92;
      gap: 5px;
      align-items: center;
    }
  }

</style>
